@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #fffdfa;
}

.home {
  background: linear-gradient(
    91.67deg,
    #c015a4 46.96%,
    rgba(65, 21, 192, 0.84) 99.71%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.moneybg {
  @apply bg-[#E4FFEF];
}

.chocolatebg {
  @apply bg-[#FFECE4];
}

.beachbg {
  @apply bg-[#FFF9E4];
}

.shoebg {
  @apply bg-[#E4F9FF];
}

.shirtbg {
  @apply bg-[#F5FFE4];
}

.giftboxbg {
  @apply bg-[#E4EFFF];
}


.gradient-border {
  border-radius: 64px;
  border: 2px solid var(--LINEAR, #C015A4);
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9; */
}



/* Styles for Toggle Switch */
#toggle:checked+.toggle__line {
  background-color: #C015A4;
}

#toggle:checked+.toggle__line+.toggle__dot {
  transform: translateX(100%);
}

/* Additional styles for aesthetics */
.toggle__line {
  transition: background-color 0.3s;
}

.toggle__dot {
  transition: transform 0.3s;
}


.bg-gradient {
  background-image: radial-gradient(#DD5318, #ECBB3A);
}

.text-gradient {
  color: #C015A4;
}